html{
    width: 100%;
}
table{
    width: 100%;
    border-collapse: collapse;
    
}
thead{
    background-color: blue;
    color: #fff;
}
#list td{
    border: 1px solid #071e9e;
}
#list tr:nth-child(
even
){
    background-color: rgb(218, 216, 214);
}